@import "tailwindcss";


@keyframes scrollRight {
  0% { transform: translateX(0); }
  100% { transform: translateX(-32%); }
}
@keyframes scrollLeft {
  0% { transform: translateX(-36%); }
  100% { transform: translateX(0%); }
}
@keyframes scrollRightSlow {
  0% { transform: translateX(0); }
  100% { transform: translateX(-31%); }
}

.animate-scroll-right {
  animation: scrollRight 60s linear infinite;
}
.animate-scroll-left {
  animation: scrollLeft 30s linear infinite;
}
.animate-scroll-right-slow {
  animation: scrollRightSlow 40s linear infinite;
}

@font-face {
  font-family: 'MaisonNeue';
  src: url('/Presser/MaisonNeueExtended-Bold.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Presser';
  src: url('/Presser/presser-bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
/* 
body {
  font-family: 'Presser', Arial, sans-serif;
  font-weight: bold;
} */

.font-presser-bold {
  font-family: 'Presser', Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
}

.font-maisonneue-bold {
  font-family: 'MaisonNeue', Arial, sans-serif;
  font-weight: 100;
  font-style: normal;
}

.three {
  background-image: url('../src/assets/artistrebelbackgroundthree.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}

.contact-bg {
  background-image: url('./assets/contact/artistrebelbackground.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

/*  */
html,
body {
  height: 100%;
  overscroll-behavior: none;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-stopped {
  overflow: hidden;
}
